@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

}

:root {
	--color-grey: #F5F5F5;
	--color-grey-dark: #C5C6C7;
    --color-blue-junior: #66FCF1;
    --color-blue-medior: #55D6BE;
    --color-blue-senior: #45A29E;
    --color-blue-dark: #1F2833;
    --color-purple: #602080;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-blue-senior);
    height: 80px;
    align-items: center;
    padding-inline: 16px;
    padding-block: 8px;
}

.logo img {
    height: 40px;
    /* margin: 25px 15px; */
}

.menu {
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: var(--color-grey);
    font-size: 20px;
}

.menu a:hover {
    color: var(--color-grey-dark);
}

.menu-icon {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.menu-icon:hover {
    cursor: pointer;
}

.bar {
    background-color: var(--color-grey);
    width: 30px;
    height: 5px;
    margin: 5px;
    border-radius: 10px;
}

.menu-icon:hover .bar {
    background-color: var(--color-grey-dark);
}

.menu-items {
    display: flex;
    position: fixed;
    top: 80px;
    right: 0;
    list-style-type: none;
    background-color: var(--color-blue-senior);
    padding: 10px;
}

.menu-items > li > a {
    color: var(--color-grey);
    text-decoration: none;
}

.menu-items > li {
    padding: 4px 8px;
}

.menu-items > li:hover > a:hover {
    color: var(--color-grey-dark);
}

main {
    color: var(--color-grey);
}

.home-page {
    padding-top: 70px;
    background-color: var(--color-blue-dark);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-inline: 32px;
    gap: 64px;
}

.right-column {
    flex: 1;
    display: flex;
    justify-content: center;
}

.left-column {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.left-column > h1 {
    font-size: 2.2em;
}

.left-column > p { 
    font-size: 1.3em;
}

.right-column > img {
    width: 100%;
    border: 15px solid var(--color-blue-dark);
    border-radius: 40px;
    outline: 5px solid var(--color-grey);
}

main > section > .left-column > a > button {
    margin-top: 30px;
    background-color: var(--color-purple);
    color: #fff;
    border: 0;
    padding: 20px 50px;
    border-radius: 40px;
    cursor: pointer;
    font-size: 0.9em;
    -webkit-box-shadow: 0px 23px 37px -28px rgba(96,32,128,1);
    -moz-box-shadow: 0px 23px 37px -28px rgba(96,32,128,1);
    box-shadow: 0px 23px 37px -28px rgba(96,32,128,1);
}

main > section > .left-column > a > button:hover {
    background-color: var(--color-grey);
    color: var(--color-purple);
    outline: 3px solid var(--color-purple);
    font-weight: bold;
    text-decoration: underline;
}

.students {
    background-color: var(--color-grey);
    width: 100%;
    height: 120vh;
    padding: 30px;
}

.students > h1 {
    display: flex;
    justify-content: center;
    color: burlywood;
    font-weight: bold;
    text-decoration: underline;
}

.cards-container {
    position: relative;
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    position: relative;
    top: 0;
    left: 0;
    width: 250px;
    border-radius: 10px;
    height: 320px;
    transform-style: preserve-3d;
    background-color: transparent !important;
    border: 0 !important;
    transition: transform 0.8s ease;
    margin: 30px;
}

.card:hover {
    transform: rotateY(180deg);
}

.front-side {
    /* position: absolute;
    top: 0;
    left: 0; */
    background-color: burlywood;
    width: 100%;
    height: 18rem;
    backface-visibility: hidden; 
    overflow: hidden;
    border-radius: 10px;
    border: 0 solid #000;
    padding: 30px;
    color: var(--color-grey);
}

.back-side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 18rem;
    border-radius: 10px;
    backface-visibility: hidden;
    overflow: hidden;
    text-align: center;
    transform: rotateY(180deg);
    background-color: burlywood;
    padding: 30px;
    color: var(--color-grey);
}

.back-side > p {
    text-align: justify;
}

.cover > img {
    width: 190px;
    height: 170px;
    border-radius: 50px;
    margin-bottom: 10px;
}

#o-nama {
    height: 35rem;
    background-color: var(--color-blue-dark);
    color: var(--color-grey);
    padding: 50px;
}

#o-nama > hr {
    margin-bottom: 2.5rem;
}

#o-nama > h1 {
    margin-bottom: 30px;
    font-style: italic;
}

#o-nama-content {
    display: flex;
    justify-content: space-evenly;
}

#left-side {
    margin-top: 4rem;
    width: 40rem;
}

#left-side > p {
    font-size: 1.15rem;
}

#right-side > img {
    border: 15px solid var(--color-blue-dark);
    border-radius: 40px;
    outline: 5px solid var(--color-grey);
    height: 20rem;
    width: 30rem;
}   

#predavac {
    background-color: var(--color-grey);
    color: burlywood;
    padding: 50px;
    height: 38rem;
}

#predavac > h1 {
    text-align: center;
    text-decoration: underline;
}

#predavac-content {
    margin-top: 5rem;
    display: flex;
    justify-content: space-evenly;
}

#right-predavac {
    width: 40rem;
    margin-top: 5rem;
}

#right-predavac > p {
    font-size: 1.15rem;
}

#left-predavac > img {
    border: 15px solid var(--color-grey);
    border-radius: 40px;
    outline: 5px solid burlywood;  
}

footer {
    background-color: var(--color-blue-dark);
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 30px;
}

footer > div {
    padding: 20px;
}

footer > div > ul {
    color: var(--color-grey);
    list-style-type: none;
    margin-left: -25px;
}

footer ul li a {
    color: var(--color-grey);
    text-decoration: none;
}

footer hr { 
    border: 1px solid var(--color-grey);
}

footer p {
    color: var(--color-blue-junior);
}

.contact-info ul li i {
    margin-right: 10px;
}

.mapa iframe {
    width: 300px;
    height: 200px;
}